<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Predictor - Result</title>
    <link rel="stylesheet" href="liver_p2.css">
</head>
<body>
    <div class="container">
        <h1>Liver Disease Probability Detector</h1>
        <div id="result"></div>
        <button onclick="consultDoc()">Consult a Doctor</button><br><br>
        <button onclick="goBack()">Re-Diagnose</button>
    </div>

    <script src="liver_p2.js"></script>
</body>
</html>
